.l-benefits {
    padding: 40px 0 100px;

    &__item {
        align-items: center;
        padding: 25px 40px;
        background-color: $brand-primary-light;
        height: 100%;

        @media (max-width: 1199px) {
            padding: 25px 10px 25px 15px;
        }
        @media (max-width: 991px) {
            padding: 25px;
        }
        @media (max-width: 767px) {
            padding: 20px 15px;
        }

        &-icon {
            width: 60px;
            height: 60px;
            flex-shrink: 0;
            margin-right: 20px;
            @media (max-width: 767px) {
                height: 50px;
                width: 50px;
                margin-right: 15px;
            }

            img {
                width: 100%;
            }
        }

        &-content {
            flex-grow: 0;
            p {
                font-weight: 400;
                font-size: 18px;
                line-height: 23px;
                margin: 0;
                @media (max-width: 767px) {
                    font-size: 16px;
                    line-height: 1.25;
                }
            }
        }
    }
}
