.card-about {
    margin-bottom: 130px;
    @media (max-width: 991px) {
        margin-bottom: 70px;
    }

    &__wrap {
        position: relative;
        padding-top: 70px;
        @media (max-width: 991px) {
            padding-top: 145px;
        }
        @media (max-width: 575px) {
            padding-top: 0;
        }


        &:after {
            content: '';
            display: none;
            width: 100vw;
            height: calc(100% - 49px);
            position: absolute;
            bottom: 0;
            background-color: #FBF4F6;
            left: calc((100% - 100vw) / 2);
            @media (max-width: 575px) {
                display: block;
            }
        }
    }

    &__title {
        font-weight: 200;
        font-size: 65px;
        line-height: 73px;
        color: $brand-primary;
        margin: 0 0 70px;
        @media (max-width: 1199px) {
            font-size: 60px;
            line-height: 70px;
        }
        @media(max-width: 991px) {
            font-size: 52px;
            line-height: 55px;
            max-width: 340px;
            margin: 0 0 45px;
            position: relative;
            z-index: 4;
        }
        @media (max-width: 575px) {
           margin: 0 0 30px;
            font-size: 42px;
            line-height: 43px;
        }
    }

    &__photo {
        position: absolute;
        top: 0;
        right: 0;
        width: 475px;
        height: 584px;
        overflow: hidden;
        z-index: 4;
        @media (max-width: 1199px) {
            width: 380px;
            height: 475px;
        }
        @media (max-width: 991px) {
            width: 280px;
            height: 344px;
        }
        @media (max-width: 767px) {
            right: auto;
            left: 310px;
        }
        @media (max-width: 575px) {
            position: relative;
            width: 100%;
            left: 0;
            height: auto;
            margin: 0 0 30px;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
            top: 0;
            left: 0;
            @media (max-width: 575px) {
                position: relative;
                width: 100%;
            }
        }
    }

    &__content {
        padding: 76px 0 76px 80px;
        position: relative;
        z-index: 2;
        @media (max-width: 1199px) {
            padding-left: 0;
        }
        @media(max-width: 991px) {
            padding: 0 0 50px;
        }

        &:after {
            content: '';
            display: block;
            width: 100vw;
            height: 100%;
            position: absolute;
            right: -80px;
            top: 0;
            background-color: #FBF4F6;
            @media (max-width: 1199px) {
                right: calc((100% - 100vw) / 2);
            }
            @media(max-width: 991px) {
                height: calc(100% + 100px);
                top: -100px;
            }
            @media (max-width: 575px) {
                display: none;
            }
        }

        &-wrap {
            position: relative;
            z-index: 3;
            width: 100%;
            max-width: 510px;
            @media(max-width: 991px) {
                max-width: none;
            }

            h4 {
                font-weight: 400;
                font-size: 28px;
                line-height: 36px;
                color: $black-text-color;
                margin: 0 0 40px;
                @media (max-width: 991px) {
                    font-size: 20px;
                    line-height: 26px;
                    margin: 0 0 20px;
                    max-width: 295px;
                }
            }

            p {
                font-weight: 400;
                font-size: 18px;
                line-height: 23px;
                margin: 0 0 20px;
                color: $black-text-color;
                @media (max-width: 991px) {
                    font-size: 16px;
                    line-height: 20px;
                }

                &:last-child {
                    color: $brand-primary;
                    margin: 0;
                    @media (max-width: 991px) {
                        margin: 35px 0 0;
                    }
                    @media (max-width: 767px) {
                        margin: 20px 0 0;
                    }
                }
            }
        }
    }
}
