.card-info {
    margin-bottom: 130px;
    @media (max-width: 575px) {
        margin-bottom: 150px;
    }

    &__wrap {
        max-width: 976px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        position: relative;
        @media (max-width: 575px) {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    &__title {
        position: absolute;
        top: 70px;
        left: 260px;
        font-weight: 200;
        font-size: 65px;
        line-height: 73px;
        color: $brand-primary;
        margin: 0;
        z-index: 2;
        @media (max-width: 991px) {
            font-size: 52px;
            line-height: 55px;
            top: 50px;
            left: 175px;
        }
        @media (max-width: 767px) {
            width: 180px;
            left: 95px;
            top: -55px
        }
        @media (max-width: 575px) {
            font-size: 42px;
            line-height: 43px;
            left: auto;
            right: 0;
            top: -43px;
            width: 170px;
        }
    }

    &__image {
        width: 475px;
        height: 585px;
        position: relative;
        flex-shrink: 0;
        overflow: hidden;
        z-index: 1;
        @media (max-width: 991px) {
            width: 350px;
            height: 432px;
        }
        @media(max-width: 767px) {
            width: 279px;
            height: 344px;
        }
        @media (max-width: 575px) {
            width: 100%;
            padding-bottom: 120%;
            height: auto;
            margin: 0 0 20px;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
            top: 0;
            left: 0;
        }
    }

    &__content {
        flex-grow: 1;
        padding-left: 120px;
        @media (max-width: 991px) {
            padding-left: 55px;
        }
        @media (max-width: 767px) {
            padding-left: 20px;
        }
        @media (max-width: 575px) {
            padding-left: 0;
            width: 100%;
        }

        h4 {
            font-weight: 400;
            font-size: 28px;
            line-height: 36px;
            margin: 0 0 20px;
            color: $black-text-color;
            @media (max-width: 991px) {
                font-size: 20px;
                line-height: 26px;
                margin: 0 0 15px;
            }
            @media (max-width: 767px) {
                margin-left: -40px;
                position: relative;
                z-index: 3;
            }
            @media (max-width: 575px) {
                margin-left: 0;
            }
        }

        p {
            font-weight: 400;
            font-size: 20px;
            line-height: 26px;
            color: #939393;
            margin: 0;
            @media (max-width: 991px) {
                font-size: 16px;
                line-height: 20px;
            }
            @media (max-width: 767px) {
                br {
                    display: none;
                }
            }
            @media (max-width: 575px) {
                margin-left: 30px;
                br {
                    display: block;
                }
            }
        }
    }
}
