.contact {
    padding-top: 70px;
    margin-bottom: 130px;
    @media (max-width: 991px) {
        margin-bottom: 70px;
        padding-top: 40px;
    }

    .main-contact__info {
        @media (max-width: 991px) {
            margin: 0 0 20px;
        }
    }

    &__title {
        @extend %h2;
        margin: 0 0 30px;
    }

    &__text {
        @media (max-width: 991px) {
            padding-top: 6px;
        }
        @media (max-width: 767px) {
            padding-top: 10px;
        }

        p {
            @extend %text-18;
            margin: 0 0 20px;
            @media (max-width: 991px) {
                font-size: 14px;
                line-height: 18px;
            }

            @media (max-width: 767px) {
                margin: 0 0 15px;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.l-map {
    height: 560px;
    position: relative;
    overflow: hidden;
    margin-bottom: 130px;
    @media (max-width: 991px) {
        margin-bottom: 70px;
        height: 300px;
    }

    img {
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
        height: 100%;
        width: 100%;
    }
}
