.banner-catalog {
    background-color: #FBF4F6;
    padding: 100px 0;
    margin-bottom: 120px;

    @media (max-width: 991px) {
        padding: 85px 0 50px;
        margin-bottom: 70px;
    }

    @media (max-width: 575px) {
        padding: 70px 0 50px;
        margin-bottom: 70px;
    }

    &__wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 90px;
        @media (max-width: 1199px) {
            padding: 0;
        }
        @media (max-width: 991px) {
            flex-direction: column;
            align-items: flex-start;
        }

        .l-btn {
            padding-right: 75px;
            padding-left: 75px;
            @media (max-width: 991px) {
                margin: 0 auto;
            }
            @media (max-width: 575px) {
                width: 100%;
                max-width: 360px;
            }
        }
    }

    &__title {
        position: relative;
        font-weight: 200;
        font-size: 65px;
        line-height: 73px;
        margin: 0;
        color: $brand-primary;
        @media (max-width: 991px) {
            width: 475px;
            margin-top: -145px;
            font-size: 52px;
            line-height: 55px;
            margin-bottom: 30px;
        }
        @media (max-width: 575px) {
            font-size: 42px;
            line-height: 43px;
            max-width: 265px;
            margin-bottom: 40px;
            margin-top: -163px;
        }

        span {
            display: block;
            max-width: 272px;
            position: absolute;
            bottom: 5px;
            right: 0;
            font-weight: 400;
            font-size: 18px;
            line-height: 23px;
            color: $black-text-color;
            @media (max-width: 991px) {
                font-size: 16px;
                line-height: 20px;
                max-width: 260px;
                right: -5px;
                bottom: 3px;
            }
            @media (max-width: 575px) {
                position: relative;
                top: 0;
                right: 0;
                margin-top: 30px;
            }
        }
    }

    &__wrap {}
}
