.l-main-banner {
    height: 580px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: 991px) {
        height: 500px;
    }
    @media (max-width: 767px) {
        height: 450px;
    }
    @media (max-width: 575px) {
        height: 350px;
    }

    &__image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        overflow: hidden;

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__content {
        position: relative;
        z-index: 2;
        width: 100%;

        &-wrap {
            max-width: 50%;
            @media (max-width: 1199px) {
                max-width: 60%;
            }
            @media (max-width: 767px) {
                max-width: 75%;
            }
            @media (max-width: 575px) {
                max-width: 80%;
            }
        }
    }

    &__title {
        font-weight: 300;
        font-size: 80px;
        line-height: 73px;
        margin: 0 0 20px;
        color: $brand-primary;
        @media (max-width: 1199px) {
            font-size: 70px;
            line-height: 0.95;
        }
        @media (max-width: 991px) {
            font-size: 55px;
        }
        @media (max-width: 767px) {
            font-size: 42px;
        }
        @media (max-width: 575px) {
            font-size: 30px;
            line-height: 1.1;
            margin: 0 0 15px;
        }
    }

    &__subtitle {
        font-weight: 300;
        font-size: 20px;
        line-height: 26px;
        color: $black-text-color;
        opacity: 0.8;
        margin: 0;
        @media (max-width: 767px) {
            font-size: 18px;
            line-height: 1.2;
        }
        @media (max-width: 575px) {
            font-size: 16px;
            br {
                display: none;
            }
        }
    }
}
