.main-form {
    margin-bottom: 130px;

    &__wrap {
        display: flex;
        align-items: flex-start;
        @media (max-width: 991px) {
            flex-direction: column;
            max-width: 507px;
            margin: 0 auto;
        }
    }

    &__image {
        width: 620px;
        margin-right: 55px;
        flex-shrink: 0;
        @media (max-width: 1199px) {
            width: 500px;
            margin-right: 30px;
        }
        @media (max-width: 991px) {
            width: 100%;
            margin-right: 0;
            position: relative;
            z-index: 1;
        }
        img {
            width: 100%;
        }
    }

    &__content {
        flex-grow: 1;
        max-width: 475px;
        @media (max-width: 991px) {
            width: 100%;
            max-width: none;
        }

        .l-btn {
            min-width: 275px;
            margin: 30px 0 15px;
            @media (max-width: 991px) {
                margin: 20px 0 10px;
            }
        }
    }

    &__title {
        @extend %h2;
        margin: 6px 0 10px;
        @media (max-width: 991px) {
            font-size: 20px;
            line-height: 26px;
            margin: 0 0 15px;
        }
    }

    &__subtitle {
        font-weight: 400;
        font-size: 18px;
        line-height: 23px;
        color: #747474;
        margin: 0 0 50px;
        @media (max-width: 991px) {
            font-size: 16px;
            line-height: 20px;
            margin: 0 0 -30px;
            position: relative;
            z-index: 2;
        }
    }

    &__agreement {
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        color: $dark-gray-color;
        margin: 0;
    }
}
