.main-contact {
    &__title {
        @extend %h2;
        color: $black-text-color;
        margin: 0 0 30px;
    }

    &__info {
        display: flex;
        align-items: flex-start;
        margin: 0 0 15px;
        @extend %text-18;
        color: $black-text-color;
        margin-top: 4px;
        @media (max-width: 991px) {
            font-size: 16px;
            line-height: 20px;
        }

        &-icon {
            margin-top: -4px;
            display: block;
            width: 30px;
            height: 30px;
            flex-shrink: 0;
            margin-right: 15px;
            @media (max-width: 991px) {
                width: 24px;
                height: 24px;
                margin-right: 10px;
            }
        }
    }

    &__map {
        height: 560px;
        margin-top: 40px;
        position: relative;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
}
