.l-product {
    padding-top: 60px;

    &__top {
        align-items: flex-start;
        margin-bottom: 70px;
        @media (max-width: 767px) {
            flex-direction: column;
        }

        &-content {
            max-width: 550px;
            @media (max-width: 1199px){
                flex-grow: 1;
            }
        }
    }

    &__title {
        font-weight: 600;
        font-size: 36px;
        line-height: 1.27;
        margin: 0 0 25px;
        @media (max-width: 1199px) {
            font-size: 32px;
        }
        @media (max-width: 991px) {
            font-size: 28px;
        }
        @media (max-width: 767px) {
            font-size: 24px;
            margin: 0 0 15px;
        }
        @media (max-width: 575px) {
            font-size: 22px;
        }
    }

    &__price {
        font-weight: 600;
        font-size: 28px;
        line-height: 1.28;
        margin: 0 0 45px;
        @media (max-width: 1199px) {
            margin: 0 0 30px;
        }
        @media (max-width: 991px) {
            font-size: 24px;
            margin: 0 0 25px;
        }
        @media (max-width: 767px) {
            font-size: 20px;
            margin: 0 0 20px;
        }

        &-old {
            display: block;
            font-weight: 400;
            font-size: 20px;
            line-height: 1.3;
            text-decoration-line: line-through;
            color: #9F9F9F;
            opacity: 0.6;
            @media (max-width: 991px) {
                font-size: 16px;
            }
            @media (max-width: 767px) {
                margin-bottom: -3px;
            }
        }
    }

    &__info-line {
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        &:last-child {
            margin: 0 0 45px;
            @media (max-width: 991px) {
                margin: 0 0 20px;
            }
            @media (max-width: 767px) {
                margin: 0 0 50px;
            }
        }

        span {
            display: flex;
            flex-shrink: 0;
            color: #9F9F9F;
            margin-right: 10px;
            width: 100px;
            @media (max-width: 767px) {
                margin-right: 3px;
            }
        }
    }

    &__size {
        margin: 0 0 35px;
        @media (max-width: 991px) {
            margin: 0 0 20px;
        }
        @media (max-width: 767px) {
            margin: 0 -10px 25px 0;
            position: relative;
        }

        &-title {
            font-weight: 400;
            font-size: 14px;
            line-height: 18px;
            margin: 0 0 10px;
            @media (max-width: 767px) {
                font-size: 16px;
                line-height: 20px;
                margin: 0 0 13px;
            }
        }

        .l-checkbox-size {
            margin-right: 10px;
            margin-bottom: 10px;

            &:last-child {
                margin-right: 0;
            }
        }

        &-table {
            font-weight: 400;
            font-size: 14px;
            line-height: 18px;
            text-decoration-line: underline;
            color: #9F9F9F;
            transition: all 0.25s;
            @media (max-width: 767px) {
                position: absolute;
                top: 0;
                right: 0;
            }

            &:hover {
                color: $brand-primary;
            }
        }
    }

    &__btns {
        align-items: center;
        justify-content: space-between;

        .l-btn-primary {
            flex-grow: 1;
        }

        .l-btn-add-fav {
            flex-shrink: 0;
            margin-left: 10px;
            @media (max-width: 767px) {
                margin-left: 20px;
            }
        }
    }
}
