.l-product-card {
    display: flex;
    flex-direction: column;
    height: 100%;

    $card: &;

    &:hover {
        #{$card}__image {
            img {
                transform: scale(1.05);
            }
        }
    }

    &__image {
        position: relative;
        padding-bottom: 140%;
        overflow: hidden;
        margin: 0 0 10px;

        img {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            object-fit: cover;
            transition: all 0.25s;
        }
    }

    &__title {
        display: block;
        text-decoration: none;
        transition: all 0.25s;
        font-weight: 400;
        font-size: 18px;
        line-height: 23px;
        margin: 0 0 10px;
        color: #3A3A3A;

        &:hover {
            text-decoration: none;
            color: $brand-primary;
        }
    }

    &__price {
        margin-top: auto;
        font-weight: 400;
        font-size: 28px;
        line-height: 36px;
        color: #3A3A3A;

        .old {
            display: block;
            font-size: 20px;
            line-height: 26px;
            text-decoration-line: line-through;
            opacity: 0.6;
        }
    }
}
