.l-product {
    &__gallery {
        width: 443px;
        flex-shrink: 0;
        margin-right: 30px;
        @media (max-width: 1199px) {
            margin-right: 20px;
        }
        @media (max-width: 991px) {
            width: 330px;
        }
        @media (max-width: 767px) {
            width: 100%;
            margin-bottom: 47px;
        }
        @media (max-width: 575px) {
            margin-bottom: 40px;
        }

        &-main {
            width: calc(100% - 79px);
            position: relative;

            @media (max-width: 991px) {
                width: 100%;
            }

            .swiper-slide {
                width: 364px;
                height: auto;
                padding-bottom: 137%;
                position: relative;
                overflow: hidden;

                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    transition: all 0.25s;
                    cursor: pointer;
                }

                &:hover {
                    img {
                        transform: scale(1.02);
                    }
                }
            }
        }

        &-thumbs {
            width: 64px;
            height: 500px;
            flex-shrink: 0;
            margin-right: 15px;
            @media (max-width: 991px) {
                display: none;
            }

            .swiper {
                height: 500px;
            }

            .swiper-slide {
                width: 64px;
                height: 88px;
                position: relative;
                overflow: hidden;
                cursor: pointer;

                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }

    .swiper-pagination {
        &-bullets {
            position: absolute;
            bottom: -17px;
            left: 0;
            right: 0;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            display: none;
            @media (max-width: 991px) {
                display: flex;
            }

            &:focus,
            &:active,
            &:hover {
                outline: none;
                box-shadow: none;
            }
        }

        &-bullet {
            display: block;
            height: 7px;
            width: 7px;
            flex-shrink: 0;
            border-radius: 50%;
            background-color: #939393;
            margin-right: 5px;
            opacity: 1;

            &:last-child {
                margin-right: 0;
            }
        }

        &-bullet-active {
            background-color: $black-text-color;
        }
    }
}
