.reviews {
    margin-bottom: 110px;

    &__title {
        @extend %h2;
        font-weight: 600;
        margin: 0 0 50px;
        @media (max-width: 991px) {
            margin: 0 0 40px;
        }
        @media (max-width: 767px) {
            margin: 0 0 30px;
        }
        @media (max-width: 575px) {
            margin: 0 0 20px;
        }
    }

    &__item {
        display: flex;
        align-items: flex-start;
        padding-top: 25px;
        border-top: 1px solid #939393;
        margin-bottom: 50px;
        @media (max-width: 767px) {
            flex-direction: column;
            position: relative;
            margin-bottom: 25px;
        }

        &.hide_item {
            display: none;
        }

        &:first-child {
            border-top: none;
            padding-top: 0;
        }

        &-name {
            width: 300px;
            flex-shrink: 0;
            margin-right: 10px;
            @extend %h3;
            @media (max-width: 991px) {
                width: 250px;
                font-size: 18px;
            }
            @media (max-width: 767px) {
                margin: 0 0 5px;
                font-size: 14px;
                line-height: 1.2;
            }
            @media (max-width: 575px) {
                font-size: 12px;
            }
        }

        &-content {
            flex-grow: 1;
            @media (max-width: 767px) {
                width: 100%;
            }
        }

        &-header {
            align-items: center;
            margin-bottom: 30px;
            @media (max-width: 767px) {
                margin-bottom: 20px;
                position: relative;
            }
        }

        &-date {
            display: block;
            @extend %text-14;
            color: $black-text-color;
            margin-left: 15px;
            margin-top: 1px;
            @media (max-width: 767px) {
                position: absolute;
                top: -24px;
                right: 0;
                font-size: 12px;
                line-height: 15px;
            }
            @media (max-width: 575px) {
                top: -22px;
            }
        }

        &-title {
            @extend %h3;
            margin: 0 0 10px;
            color: $black-text-color;
            @media (max-width: 991px) {
                font-size: 18px;
            }
        }

        &-text {
            @extend %text-18;
            color: $black-text-color;
            margin: 0;
            @media (max-width: 991px) {
                font-size: 16px;
            }
        }
    }

    &__more {
        display: block;
        width: max-content;
        margin: 0 auto;
        @extend %text-18;
        color: $black-text-color;
        position: relative;
        padding-bottom: 1px;
        border-bottom: 0.5px solid $black-text-color;
        transition: all 0.25s;
        text-decoration: none;

        @media (max-width: 991px) {
            font-size: 16px;
        }

        @media (max-width: 575px) {
            font-size: 14px;
            line-height: 18px;
        }

        &:after {
            content: '';
            display: block;
            width: 6px;
            height: 6px;
            transform: rotate(45deg);
            border-right: 1px solid $black-text-color;
            border-bottom: 1px solid $black-text-color;
            transition: all 0.25s;
            position: absolute;
            top: 0;
            bottom: 1px;
            right: -15px;
            margin: auto;
        }

        &:hover {
            text-decoration: none;
            color: $brand-primary;
            border-bottom-color: $brand-primary;

            &:after {
                border-color: $brand-primary;
            }
        }
    }
}
