@import "variables";

%h {
    clear: both;
    margin: 0;
    padding: 0;
    line-height: 1.25;
    font-weight: 700;

    &:first-child {
        padding-top: 0;
    }
}

%h1 {
    font-size: rem(48);
}
%h2 {
    font-size: 36px;
    line-height: 46px;
    @media (max-width: 991px) {
        font-size: 30px;
        line-height: 36px;
    }
    @media (max-width: 575px) {
        font-size: 22px;
        line-height: 28px;
    }
}
%h3 {
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
}
%h4 {
    font-size: rem(28);
}
%h5 {
    font-size: rem(24);
}
%h6 {
    font-size: rem(20);
}

%text-18 {
    font-size: 18px;
    line-height: 23px;
}

%text-16 {
    font-size: 16px;
    line-height: 20px;
}

%text-14 {
    font-size: 14px;
    line-height: 18px;
}
