@import "variables";

.l-footer {
    padding: 70px 0 80px;
    background-color: $gray-color;
    margin: auto 0 0;

    &__title {
        font-weight: 400;
        font-size: 20px;
        line-height: 26px;
        margin: 0 0 28px;
    }

    &__menu {
        list-style: none;
        padding: 0;
        margin: 0;

        &-item {
            margin: 0 0 12px;

            &:last-child {
                margin-bottom: 0;
            }

            & > a {
                display: block;
                @extend %text-16;
                text-decoration: none;
                transition: all 0.25s;
                color: $black-text-color;

                &:hover {
                    text-decoration: none;
                    color: $brand-primary;
                }
            }
        }
    }
}
