@import "variables";

html {
    min-height: 100%;
}

body {
    color: $black-text-color;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.modal-open {
    overflow: hidden;
}

.d-flex {
    display: flex;
}

.l-checkbox-size {
    input {
        display: none;
    }

    &__label {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        text-align: center;
        border: 1px solid #C4C4C4;
        box-sizing: border-box;
        cursor: pointer;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: $black-text-color;
        padding: 4px;
        transition: all 0.25s;
        @media (max-width: 767px) {
            width: 50px;
            height: 46px;
            font-size: 14px;
        }

        &:hover {
            background-color: $brand-primary-light;
        }
    }

    input:checked + label {
        background-color: $brand-primary;
        border-color: $brand-primary;
        color: $white-color;
    }
}


.l-btn {
    border-radius: 0;
    border: none;
    text-decoration: none;
    transition: all 0.25s;
    text-align: center;

    &:hover,
    &:focus,
    &:active {
        outline: none;
        box-shadow: none;
        text-decoration: none;
    }
}

.l-btn-primary {
    border: 1px solid $brand-primary;
    background-color: $brand-primary;
    color: $white-color;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    padding: 16px 40px;
    @media (max-width: 991px) {
        padding: 15px 40px;
    }
    @media (max-width: 767px) {
        padding: 12px 40px;
        font-size: 16px;
        line-height: 20px;
    }

    &:hover {
        background-color: $white-color;
        color: $brand-primary;
    }
}


.l-btn-border {
    border: 1px solid $brand-primary;
    background-color: transparent;
    color: $brand-primary;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    padding: 17px 40px;

    @media (max-width: 991px) {
        padding: 15px 40px;
    }
    @media (max-width: 767px) {
        padding: 12px 40px;
        font-size: 16px;
        line-height: 20px;
    }

    &:hover {
        background-color: $brand-primary;
        color: $white-color;
    }
}

.l-btn-add-fav {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 56px;
    transition: all 0.25s;
    background-color: $white-color;
    border: 1px solid $brand-primary;
    cursor: pointer;
    @media (max-width: 991px) {
        width: 54px;
        height: 54px;
    }
    @media (max-width: 767px) {
        width: 46px;
        height: 46px;
    }

    &:hover {
        background-color: $brand-primary-light;
    }

    &.active {
        background-color: $brand-primary;

        svg {
            path {
                fill: $white-color;
                stroke: $white-color;
            }
        }
    }

    svg {
        path {
            transition: all 0.25s;
            stroke: $brand-primary;
        }
    }
}


.reviews-stars {
    display: flex;
    align-items: center;

    &__item {
        width: 18px;
        height: 17px;
        margin-right: 9px;

        &:last-child {
            margin-right: 0;
        }

        svg {
            width: 100%;
            vertical-align: top;
        }

        &.full_item {
            svg {
                path {
                    fill: $brand-primary;
                }
            }
        }
    }
}

.form-group {
    margin-bottom: 20px;

    label {
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        color: $dark-gray-color;
        display: block;
        margin: 0 0 2px;
    }

    input {
        width: 100%;
        border: 1px solid #FBF4F6;
        border-radius: 0;
        background-color: #FBF4F6;
        @extend %text-14;
        color: $black-text-color;
        transition: all 0.25s;
        padding: 15px;

        &:active,
        &:focus {
            outline: none;
            box-shadow: none;
        }
    }

    textarea {
        width: 100%;
        border: 1px solid #FBF4F6;
        border-radius: 0;
        background-color: #FBF4F6;
        @extend %text-14;
        color: $black-text-color;
        transition: all 0.25s;
        padding: 15px;
        resize: none;

        &:active,
        &:focus {
            outline: none;
            box-shadow: none;
        }
    }
}
