@import "variables";

.d-md-block.d-none {
    display: none;
    @media (min-width: 768px) {
        display: block;
    }
}

.d-none.d-lg-block {
    display: none;
    @media (min-width: 992px) {
        display: block;
    }
}

.d-block.d-lg-none {
    display: block;
    @media (min-width: 992px) {
        display: none;
    }
}

.l-header {
    &__top {
        border-bottom: 3px solid #F6EFF1;

        &-wrap {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 100px;
            position: relative;
            @media (max-width: 767px) {
                height: 64px;
            }
        }
    }

    &__phone-wrap {
        display: flex;
        align-items: center;
        @media (max-width: 991px) {
            flex-direction: column;
            align-items: flex-start;
        }
        @media (max-width: 767px) {
            display: none;
        }
    }

    &__phone {
        display: block;
        text-decoration: none;
        font-size: 20px;
        line-height: 26px;
        color: $black-text-color;
        flex-shrink: 0;
        margin-right: 15px;
        transition: all 0.25s;
        @media (max-width: 991px) {
            font-size: 18px;
            line-height: 23px;
            margin-right: 0;
        }

        &:hover {
            color: $brand-primary;
            text-decoration: none;
        }
    }

    &__order-call {
        display: block;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        color: $gray-color2;
        text-decoration: none;
        transition: all 0.25s;

        &:hover {
            color: $brand-primary;
            text-decoration: none;
        }
    }

    &__logo {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        height: 76px;
        width: 102px;
        @media (max-width: 767px) {
            width: 70px;
        }

        img {
            height: 100%;
        }
    }

    &__sub-menu {
        align-items: center;
        @media (max-width: 767px) {
            width: 100%;
        }
    }

    &__burger {
        display: none;
        position: relative;
        flex-shrink: 0;
        width: 18px;
        height: 18px;
        margin-right: 16px;
        cursor: pointer;
        @media (max-width: 767px) {
            display: block;
        }

        span {
            display: block;
            width: 100%;
            height: 0;
            border-top: 1px solid #181818;
            position: absolute;
            transition: all 0.25s ease-in;

            &:nth-child(1) {
                left: 0;
                top: 6px;
            }

            &:nth-child(2) {
                left: 0;
                top: 13px;
            }
        }

        &.active {
            span {
                &:nth-child(1) {
                    transform: rotate(45deg) translate(3px, 2px);
                }

                &:nth-child(2) {
                    transform: rotate(-45deg) translate(3px, -2px);
                }
            }
        }
    }

    &__search {
        position: relative;
        flex-shrink: 0;
        margin-right: 16px;
        width: 30px;

        &-label {
            width: 30px;
            height: 30px;
            cursor: pointer;
            position: relative;
            z-index: 1;

            svg {
                width: 100%;

                path, circle {
                    transition: all 0.25s;
                }
            }

            &:hover {
                svg {
                    path, circle {
                        stroke: $brand-primary;
                    }
                }
            }
        }

        &-form {
            position: absolute;
            right: 0;
            top: 0;
            z-index: 2;
            opacity: 0;
            visibility: hidden;
            transition: all 0.25s;
            width: 0;
            @media (max-width: 767px) {
                right: auto;
                left: 0;
                top: 40px;
                z-index: 50;
            }
            @media (max-width: 575px) {
                width: 100%;
                position: fixed;
                right: 0;
                left: auto;
                top: 64px;
            }

            &.active {
                width: 260px;
                opacity: 1;
                visibility: visible;
                @media (max-width: 575px) {
                    width: 100%;
                }
            }

            &-icon {
                border: none;
                border-radius: 0;
                display: block;
                width: 30px;
                height: 30px;
                cursor: pointer;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                margin: auto;

                svg {
                    width: 100%;

                    path, circle {
                        transition: all 0.25s;
                    }
                }

                &:hover {
                    svg {
                        path, circle {
                            stroke: $brand-primary;
                        }
                    }
                }
            }

            &-input {
                border-radius: 0;
                outline: none;
                box-shadow: none;
                border: 1px solid $gray-color;
                box-sizing: border-box;
                font-weight: 400;
                font-size: 12px;
                line-height: 15px;
                padding: 9px 20px 9px 35px;
                width: 100%;
                margin: 0;

                &:focus,
                &:active {
                    outline: none;
                    box-shadow: none;
                }

                &::placeholder {
                    color: $gray-color2;
                }
            }

            &-close {
                display: block;
                width: 8px;
                height: 8px;
                position: absolute;
                top: 0;
                left: auto;
                right: 8px;
                bottom: 0;
                margin: auto;
                cursor: pointer;

                svg {
                    vertical-align: top;

                    path {
                        transition: all 0.25s;
                    }
                }

                &:hover {
                    svg {
                        path {
                            fill: $brand-primary;
                        }
                    }
                }
            }
        }
    }

    &__profile {
        position: relative;
        flex-shrink: 0;
        margin-right: 16px;
        width: 30px;
        @media (max-width: 767px) {
            margin-left: auto;
        }

        &-header {
            width: 30px;
            height: 30px;
            cursor: pointer;

            svg {
                width: 100%;

                path, circle {
                    transition: all 0.25s;
                }
            }

            &:hover {
                svg {
                    path, circle {
                        stroke: $brand-primary;
                    }
                }
            }
        }

        &-body {
            opacity: 0;
            visibility: hidden;
        }
    }

    &__link-icon {
        width: 30px;
        height: 30px;
        flex-shrink: 0;
        margin-right: 16px;

        svg {
            width: 100%;

            path, circle {
                transition: all 0.25s;
            }
        }

        &:hover {
            svg {
                path, circle {
                    stroke: $brand-primary;
                }
            }
        }
    }

    &__basket {
        position: relative;
        width: 30px;
        height: 30px;
        flex-shrink: 0;

        svg {
            width: 100%;

            path, circle {
                transition: all 0.25s;
            }
        }

        &:hover {
            svg {
                path, circle {
                    stroke: $brand-primary;
                }
            }
        }

        .count {
            width: 16px;
            height: 16px;
            color: $white-text-color;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            font-weight: 600;
            font-size: 12px;
            line-height: 15px;
            position: absolute;
            bottom: 0;
            right: 0;
            border-radius: 50%;
            background-color: $brand-primary;
        }
    }

    &__nav {
        padding: 25px 0;
        border-bottom: 3px solid #F6EFF1;
        @media (max-width: 767px) {
            display: none;
        }

        &.show {
            @media (max-width: 767px) {
                background-color: $white-color;
                border-top: 2px solid #F6EFF1;
                border-bottom: none;
                display: block;
                position: fixed;
                height: calc(100vh - 64px);
                width: 100%;
                left: 0;
                top: 64px;
                z-index: 100;
                overflow-y: scroll;
            }
        }
    }

    &__menu {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        @media (max-width: 991px) {
            justify-content: space-between;
        }

        &-item {
            margin-right: 40px;
            position: relative;
            @media (max-width: 991px) {
                margin-right: 22px;
            }
            @media (max-width: 767px) {
                border-bottom: 1px solid #F7F7F7;
                padding: 14px 0;
                margin-right: 0;
            }

            &:last-child {
                margin-right: 0;
            }

            & > a {
                display: block;
                font-weight: 400;
                font-size: 18px;
                line-height: 23px;
                color: $black-text-color;
                text-decoration: none;
                transition: all 0.25s;
                @media (max-width: 991px) {
                    font-size: 15px;
                    line-height: 20px;
                }
                @media (max-width: 767px) {
                    font-size: 20px;
                    line-height: 26px;
                }

                &:hover {
                    @media (min-width: 768px) {
                        text-decoration: none;
                        color: $brand-primary;
                    }
                }
            }

            & > a:hover + .l-catalog {
                @media (min-width: 768px) {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }
}

.l-catalog {
    transition: all 0.25s;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 48px;
    left: 0;
    z-index: 10;
    background-color: $white-color;
    list-style: none;
    padding: 20px 0 20px 20px;
    margin: 0;
    width: auto;
    min-width: 250px;
    @media (max-width: 991px) {
        top: 45px;
        left: -20px;
    }

    @media (max-width: 767px) {
        opacity: 1;
        visibility: visible;
        position: relative;
        padding: 0 0 0 20px;
        top: 0;
        left: 0;
        width: 100%;
        display: none;
    }

    &.show {
        @media (max-width: 767px) {
            padding-top: 16px;
            display: block;
        }
    }

    &:after {
        content: '';
        display: block;
        height: 20px;
        width: 100%;
        top: -20px;
        left: 0;
        position: absolute;
        @media (max-width: 767px) {
            display: none;
        }
    }

    &:hover {
        opacity: 1;
        visibility: visible;
    }

    & > li {
        padding: 8px 20px 8px 0;
        width: 100%;
        cursor: pointer;
        position: initial;
        @media (max-width: 767px) {
            padding: 3px 0;
        }

        & > a {
            display: block;
            font-weight: 400;
            font-size: 18px;
            line-height: 23px;
            color: $black-text-color;
            text-decoration: none;
            transition: all 0.25s;
            @media (max-width: 991px) {
                font-size: 15px;
                line-height: 20px;
            }
            @media (max-width: 767px) {
                font-size: 18px;
                line-height: 23px;
            }
        }

        &:hover {
            & > a {
                text-decoration: none;
                color: $brand-primary;
            }

            .dropdown-menu {
                opacity: 1;
                visibility: visible;
            }
        }

        /*&[aria-expanded="true"] {
            @media (max-width: 767px) {
                .dropdown-menu {
                    display: block;
                }
            }
        }

        &[aria-expanded="false"] {
            @media (max-width: 767px) {
                .dropdown-menu {
                    display: none;
                }
            }
        }*/

        .dropdown-menu {
            border-radius: 0;
            box-shadow: none;
            border: none;
            display: block;
            position: absolute;
            top: -2px;
            left: 249px;
            background-color: $white-color;
            padding: 20px;
            list-style: none;
            width: auto;
            min-width: 300px;
            height: auto;
            min-height: 100%;
            border-left: 1px solid #F6EFF1;
            opacity: 0;
            visibility: hidden;
            transition: all 0.25s;
            @media (max-width: 767px) {
                opacity: 1;
                visibility: visible;
                top: 0;
                left: 0;
                width: 100%;
                min-width: auto;
                position: relative;
                padding: 8px 0 8px 20px;
                border: none;
                display: none;
            }

            &.show {
                @media (max-width: 767px) {
                    display: block;
                }
            }

            ul {
                list-style: none;
                padding: 0;
                margin: 0 0 5px;

                li {
                    padding: 5px 0;
                    width: 100%;

                    & > a {
                        display: block;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 20px;
                        color: $black-text-color;
                        text-decoration: none;
                        transition: all 0.25s;
                        @media (max-width: 767px) {
                            font-size: 18px;
                            line-height: 23px;
                            color: #939393;
                        }

                        &:hover {
                            text-decoration: none;
                            color: $brand-primary;
                        }
                    }
                }
            }

            .see-all {
                font-weight: 400;
                font-size: 16px;
                line-height: 20px;
                color: $brand-primary;
                text-decoration: none;

                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
}
