</main>


<footer class="l-footer">
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-md-4">
                <h4 class="l-footer__title">Покупателям</h4>
                <ul class="l-footer__menu">
                    <li class="l-footer__menu-item">
                        <a href="#" title="Подарочные сертификаты">Подарочные сертификаты</a>
                    </li>
                    <li class="l-footer__menu-item">
                        <a href="#" title="Доставка и оплата">Доставка и оплата</a>
                    </li>
                    <li class="l-footer__menu-item">
                        <a href="#" title="Возврат и обмен">Возврат и обмен</a>
                    </li>
                </ul>
            </div>

            <div class="col-xl-3 col-md-4">
                <h4 class="l-footer__title">Компания</h4>
                <ul class="l-footer__menu">
                    <li class="l-footer__menu-item">
                        <a href="#" title="Контакты">Контакты</a>
                    </li>
                    <li class="l-footer__menu-item">
                        <a href="#" title="Политика конфиденциальности">Политика конфиденциальности</a>
                    </li>
                    <li class="l-footer__menu-item">
                        <a href="#" title="Публичная оферта">Публичная оферта</a>
                    </li>
                </ul>
            </div>

            <div class="col-xl-3 col-md-4 ml-auto">
                <h4 class="l-footer__title">Мы в соц сетях</h4>
            </div>
        </div>
    </div>
</footer>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="assets/js/script.js"></script>


@@if(context.js){
@@for (var i = 0; i < js.length; i++) {
<script src="`+js[i]+`"></script>
}
}

</body>

</html>
