<svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
    <circle cx="13.75" cy="13.75" r="7.5" stroke="#181818"/>
    <path d="M25 25L21.25 21.25" stroke="#181818" stroke-linecap="round"/>
</svg>
