<svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M9 14L9 9C9 6.23858 11.2386 4 14 4V4C16.7614 4 19 6.23858 19 9L19 14" stroke="#181818" stroke-linecap="round"/>
    <path d="M3.69435 13.9178C3.83942 12.1769 3.91196 11.3065 4.48605 10.7782C5.06013 10.25 5.9336 10.25 7.68053 10.25H20.3195C22.0664 10.25 22.9399 10.25 23.514 10.7782C24.088 11.3065 24.1606 12.1769 24.3057 13.9178L25.0695 23.0839C25.154 24.0974 25.1962 24.6042 24.8991 24.9271C24.602 25.25 24.0935 25.25 23.0764 25.25H4.9236C3.90655 25.25 3.39802 25.25 3.10092 24.9271C2.80382 24.6042 2.84605 24.0974 2.93051 23.0839L3.69435 13.9178Z" stroke="#181818"/>
</svg>
