<div class="l-benefits">
    <div class="container">
        @@if(context.items) {
        <div class="row justify-content-center">
            @@for (var i = 0; i < items.length; i++) {
            <div class="col-lg-4 col-md-6 col-sm-8 mb-20">
                <div class="d-flex l-benefits__item">
                    <div class="l-benefits__item-icon">
                        <img src="`+items[i].icon+`" alt="icon">
                    </div>
                    <div class="l-benefits__item-content">
                        <p>`+items[i].text+`</p>
                    </div>
                </div>
            </div>
            }
        </div>
        }
    </div>
</div>
