<div class="card-info">
    <div class="container">
        <div class="card-info__wrap">
            <h2 class="card-info__title">Одежда для сна</h2>
            <div class="card-info__image">
                <img src="assets/img/card-info.jpg" alt="image">
            </div>
            <div class="card-info__content">
                <h4>Примерно 8 часов в день <br>мы проводим в кровати</h4>
                <p>Пижама должна быть натуральной, дышащей и комфортной</p>
            </div>
        </div>
    </div>
</div>
