<div class="card-about">
    <div class="container">
        <div class="card-about__wrap">
            <h2 class="card-about__title">Творить прекрасное</h2>
            <div class="card-about__photo">
                <img src="assets/img/about-catd.jpg" alt="image">
            </div>
            <div class="card-about__content">
                <div class="card-about__content-wrap">
                    <h4>Меня зовут Эльмира, я основатель
                        магазина Lady Charm</h4>
                    <p>Однажды я поняла, что хочу творить что-то
                        прекрасное и приносить пользу. Так родилась идея открыть интернет-магазин.</p>
                    <p>Для меня это ответственность, работа с людьми, с товаром, качество которого для меня играет
                        огромную
                        роль.
                        Хочу, чтобы все было идеально!</p>
                    <p>Спасибо Вам за доверие!</p>
                </div>
            </div>
        </div>
    </div>
</div>
