<div class="l-category">
    <div class="container">
        <h1 class="l-category__title">Пижамы</h1>

        <div class="row">
            @@for (var i = 0; i < 8; i++) {
            <div class="col-xl-3 col-md-4 col-sm-6 mb-60">
                @@include("./../blocks/product-card.html", {
                "image": "assets/img/product-image1.jpg",
                "title": "Пижама для дома из хлопка и лайкры",
                "oldPrice": "1250₽",
                "currentPrice": "1190₽",
                })
            </div>

            <div class="col-xl-3 col-md-4 col-sm-6 mb-60">
                @@include("./../blocks/product-card.html", {
                "image": "assets/img/product-image2.jpg",
                "title": "Пижама для дома из хлопка и лайкры",
                "currentPrice": "1190₽",
                })
            </div>
            }
        </div>
    </div>
</div>
