<div class="contact">
    <div class="container">
        <h2 class="contact__title">Контакты</h2>
        <div class="row">
            <div class="col-md-6">
                <div class="main-contact__info">
                    <span class="main-contact__info-icon">
                        <img src="assets/img/local.svg" alt="icon">
                    </span>
                    Улица Шилова 35а, БЦ "Авангард" офис 211, Чита
                </div>

                <div class="main-contact__info">
                    <span class="main-contact__info-icon">
                        <img src="assets/img/time.svg" alt="icon">
                    </span>
                    11:00-19:00, ежедненвно
                </div>
            </div>

            <div class="col-md-6">
                <div class="contact__text">
                    <p>ИНН: Улица Шилова 35а, БЦ "Авангард" офис 211, Чита</p>
                    <p>ИНН: 11:00-19:00, ежедненвно</p>
                    <p>ИНН: 11:00-19:00, ежедненвно</p>
                    <p>ИНН: 11:00-19:00, ежедненвно</p>
                </div>
            </div>
        </div>
    </div>
</div>
