<div class="banner-catalog">
    <div class="container">
        <div class="banner-catalog__wrap">
            <h2 class="banner-catalog__title">Забота проявляется <br>
                в деталях
                <span>мы хотим, чтобы вы почувствовали максиальный комфорт</span>
            </h2>

            <a href="category.html" class="l-btn l-btn-border" title="Смотреть каталог">Смотреть каталог</a>
        </div>
    </div>
</div>
