<div class="main-contact">
    <div class="container">
        <h2 class="main-contact__title">Мы находимся</h2>
        <div class="main-contact__info">
            <span class="main-contact__info-icon">
                <img src="assets/img/local.svg" alt="icon">
            </span>
            Улица Шилова 35а, БЦ "Авангард" офис 211, Чита
        </div>

        <div class="main-contact__info">
            <span class="main-contact__info-icon">
                <img src="assets/img/time.svg" alt="icon">
            </span>
            11:00-19:00, ежедненвно
        </div>
    </div>

    <div class="main-contact__map">
        <img src="assets/img/map.jpg" alt="icon">
    </div>
</div>
