<div class="main-form">
    <div class="container">
        <div class="main-form__wrap">
            <div class="d-block d-lg-none">
                <h2 class="main-form__title">Остались вопросы?</h2>
                <h5 class="main-form__subtitle">Свяжитесь с нами и мы с удовольствием <br>ответим на все ваши
                    вопросы</h5>
            </div>

            <div class="main-form__image">
                <img src="assets/img/form.jpg" alt="image">
            </div>

            <div class="main-form__content">
                <form>
                    <div class="d-none d-lg-block">
                        <h2 class="main-form__title">Остались вопросы?</h2>
                        <h5 class="main-form__subtitle">Свяжитесь с нами и мы с удовольствием <br>ответим на все ваши
                            вопросы</h5>
                    </div>

                    <div class="form-group">
                        <label>Имя</label>
                        <input type="text" name="" placeholder="">
                    </div>
                    <div class="form-group">
                        <label>E-mail</label>
                        <input type="email" name="" placeholder="">
                    </div>
                    <div class="form-group">
                        <label>Напишите ваш вопрос</label>
                        <textarea rows="5"></textarea>
                    </div>

                    <button class="l-btn l-btn-primary" type="submit">Отправить</button>
                    <p class="main-form__agreement">Нажимая на кнопку, вы даете согласие <br>
                        на обработку своих персональных данных</p>
                </form>
            </div>
        </div>
    </div>
</div>
