<div class="l-main-banner">
    <div class="l-main-banner__image">
        <img src="assets/img/main-banner.jpg" alt="image">
    </div>
    <div class="l-main-banner__content">
        <div class="container">
            <div class="l-main-banner__content-wrap">
                @@if(context.title){
                <h1 class="l-main-banner__title">@@title</h1>
                }
                @@if(context.subtitle){
                <p class="l-main-banner__subtitle">@@subtitle</p>
                }
            </div>
        </div>
    </div>
</div>
