<div class="d-flex l-product__gallery">
    <div class="l-product__gallery-thumbs">
        <div thumbsSlider="" class="swiper product-thumbs">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="assets/img/product-image1.jpg" alt="image">
                </div>
                <div class="swiper-slide">
                    <img src="assets/img/product-image2.jpg" alt="image">
                </div>
                <div class="swiper-slide">
                    <img src="assets/img/product-image1.jpg" alt="image">
                </div>
                <div class="swiper-slide">
                    <img src="assets/img/product-image2.jpg" alt="image">
                </div>
                <div class="swiper-slide">
                    <img src="assets/img/product-image1.jpg" alt="image">
                </div>
                <div class="swiper-slide">
                    <img src="assets/img/product-image2.jpg" alt="image">
                </div>
                <div class="swiper-slide">
                    <img src="assets/img/product-image1.jpg" alt="image">
                </div>
                <div class="swiper-slide">
                    <img src="assets/img/product-image2.jpg" alt="image">
                </div>
            </div>
        </div>
    </div>

    <div class="l-product__gallery-main">
        <div class="swiper product-slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <a href="assets/img/product-image1.jpg" data-lightbox="main-gallery">
                        <img src="assets/img/product-image1.jpg" alt="image">
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="assets/img/product-image2.jpg" data-lightbox="main-gallery">
                        <img src="assets/img/product-image2.jpg" alt="image">
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="assets/img/product-image1.jpg" data-lightbox="main-gallery">
                        <img src="assets/img/product-image1.jpg" alt="image">
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="assets/img/product-image2.jpg" data-lightbox="main-gallery">
                        <img src="assets/img/product-image2.jpg" alt="image">
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="assets/img/product-image1.jpg" data-lightbox="main-gallery">
                        <img src="assets/img/product-image1.jpg" alt="image">
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="assets/img/product-image2.jpg" data-lightbox="main-gallery">
                        <img src="assets/img/product-image2.jpg" alt="image">
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="assets/img/product-image1.jpg" data-lightbox="main-gallery">
                        <img src="assets/img/product-image1.jpg" alt="image">
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="assets/img/product-image2.jpg" data-lightbox="main-gallery">
                        <img src="assets/img/product-image2.jpg" alt="image">
                    </a>
                </div>
            </div>
        </div>

        <div class="swiper-button-next product-slider-next"></div>
        <div class="swiper-button-prev product-slider-prev"></div>
        <div class="swiper-pagination product-slider-pagination"></div>
    </div>
</div>
