<div class="l-product-card">
    <div class="l-product-card__image">
        <img src="@@image" alt="image">
    </div>
    @@if(context.title){
    <a href="product-page.html" title="@@title" class="l-product-card__title">
        @@title
    </a>
    }
    <div class="l-product-card__price">
        @@if(context.oldPrice){
        <span class="old">@@oldPrice</span>
        }
        @@if(context.currentPrice){ @@currentPrice }
    </div>

</div>
