<div class="l-proposal">
    <div class="container">
        @@if(context.title) {
        <h2 class="l-proposal-list">@@title</h2>
        }

        <div class="l-proposal__wrap">
            <div class="swiper proposal-slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="l-product-card">
                            <div class="l-product-card__image">
                                <img src="@@image" alt="image">
                            </div>
                            @@if(context.title){
                            <a href="product-page.html" title="@@title" class="l-product-card__title">
                                @@title
                            </a>
                            }
                            <div class="l-product-card__price">
                                @@if(context.oldPrice){
                                <span class="old">@@oldPrice</span>
                                }
                                @@if(context.currentPrice){ @@currentPrice }
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="swiper-button-prev proposal-slider-prev"></div>
            <div class="swiper-button-next proposal-slider-next"></div>
        </div>
    </div>
</div>
