<div class="l-product">
    <div class="container">
        <div class="d-flex l-product__top">
            @@include("./../blocks/product-page-main-slider.html")

            <div class="l-product__top-content">
                <h1 class="l-product__title">Сорочка женская «Чёрное сердце»</h1>
                <div class="l-product__price">
                    <span class="l-product__price-old">1250₽</span>
                    1190₽
                </div>

                <div>
                    <div class="d-flex l-product__info-line">
                        <span>Ткань:</span>
                        Хлопок
                    </div>
                    <div class="d-flex l-product__info-line">
                        <span>Производство:</span>
                        Узбекистан
                    </div>
                    <div class="d-flex l-product__info-line">
                        <span>Дополнительно:</span>
                        На тонких бретелях, лямки не регулируются
                    </div>
                </div>

                <div class="l-product__size">
                    <p class="l-product__size-title">Размеры</p>
                    <div class="d-flex flex-wrap">
                        <div class="l-checkbox-size">
                            <input type="checkbox" name="size" id="size42">
                            <label for="size42" class="l-checkbox-size__label">42</label>
                        </div>
                        <div class="l-checkbox-size">
                            <input type="checkbox" name="size" id="size44">
                            <label for="size44" class="l-checkbox-size__label">44</label>
                        </div>
                        <div class="l-checkbox-size">
                            <input type="checkbox" name="size" id="size46">
                            <label for="size46" class="l-checkbox-size__label">46</label>
                        </div>
                        <div class="l-checkbox-size">
                            <input type="checkbox" name="size" id="size48">
                            <label for="size48" class="l-checkbox-size__label">48</label>
                        </div>
                        <div class="l-checkbox-size">
                            <input type="checkbox" name="size" id="size50">
                            <label for="size50" class="l-checkbox-size__label">50</label>
                        </div>
                        <div class="l-checkbox-size">
                            <input type="checkbox" name="size" id="size52">
                            <label for="size52" class="l-checkbox-size__label">52</label>
                        </div>
                        <div class="l-checkbox-size">
                            <input type="checkbox" name="size" id="size54">
                            <label for="size54" class="l-checkbox-size__label">54</label>
                        </div>
                    </div>

                    <a href="#" class="l-product__size-table">Таблица размеров</a>
                </div>

                <div class="d-flex l-product__btns">
                    <a href="#" class="l-btn l-btn-primary" title="Добавить в корзину">Добавить в корзину</a>

                    <div class="l-btn-add-fav js-add-fav">
                        @@include("./../icons/icon-heart.html")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@@include("./../blocks/reviews.html")

@@include("./../blocks/product-slider.html", {
"title": "Вам также может понравиться:",
"items": [
{
"image": "",
}
]
})

@@include("./../blocks/product-slider.html", {
"title": "Недавно просмотренные:",
})
