<div class="reviews">
    <div class="container">
        <h2 class="reviews__title">Отзывы</h2>

        <div>
            <div class="reviews__item">
                <div class="reviews__item-name">Елизавета Нечепурная</div>

                <div class="reviews__item-content">
                    <div class="d-flex reviews__item-header">
                        <div class="reviews-stars">
                        <span class="reviews-stars__item full_item">
                            @@include("./../icons/review-star.html")
                        </span>
                            <span class="reviews-stars__item full_item">
                            @@include("./../icons/review-star.html")
                        </span>
                            <span class="reviews-stars__item full_item">
                            @@include("./../icons/review-star.html")
                        </span>
                            <span class="reviews-stars__item full_item">
                            @@include("./../icons/review-star.html")
                        </span>
                            <span class="reviews-stars__item">
                            @@include("./../icons/review-star.html")
                        </span>
                        </div>

                        <time class="reviews__item-date">Oct 28, 2021</time>
                    </div>

                    <h3 class="reviews__item-title">Очень классная пижама</h3>
                    <p class="reviews__item-text">Я люблю покупать вещи в этом магазине. приятные и доступные цены...
                        Так
                        УДИВИТЕЛЬНО, очень приятно, настоятельно рекомендуется! отличное качество, хороший товар,
                        отличная
                        цена.
                        А еще купила пижамку по подарочному сертификату</p>
                </div>
            </div>

            <div class="reviews__item">
                <div class="reviews__item-name">Мирослава Арийчук</div>

                <div class="reviews__item-content">
                    <div class="d-flex reviews__item-header">
                        <div class="reviews-stars">
                        <span class="reviews-stars__item full_item">
                            @@include("./../icons/review-star.html")
                        </span>
                            <span class="reviews-stars__item full_item">
                            @@include("./../icons/review-star.html")
                        </span>
                            <span class="reviews-stars__item full_item">
                            @@include("./../icons/review-star.html")
                        </span>
                            <span class="reviews-stars__item full_item">
                            @@include("./../icons/review-star.html")
                        </span>
                            <span class="reviews-stars__item">
                            @@include("./../icons/review-star.html")
                        </span>
                        </div>

                        <time class="reviews__item-date">Oct 28, 2021</time>
                    </div>

                    <h3 class="reviews__item-title">Нравиться качество</h3>
                    <p class="reviews__item-text">Стильно и элегантно 💚</p>
                </div>
            </div>

            <div class="reviews__item">
                <div class="reviews__item-name">Мария Вячеславовна</div>

                <div class="reviews__item-content">
                    <div class="d-flex reviews__item-header">
                        <div class="reviews-stars">
                        <span class="reviews-stars__item full_item">
                            @@include("./../icons/review-star.html")
                        </span>
                            <span class="reviews-stars__item">
                            @@include("./../icons/review-star.html")
                        </span>
                            <span class="reviews-stars__item">
                            @@include("./../icons/review-star.html")
                        </span>
                            <span class="reviews-stars__item">
                            @@include("./../icons/review-star.html")
                        </span>
                            <span class="reviews-stars__item">
                            @@include("./../icons/review-star.html")
                        </span>
                        </div>

                        <time class="reviews__item-date">Oct 28, 2021</time>
                    </div>

                    <h3 class="reviews__item-title">Пришло сбраком</h3>
                    <p class="reviews__item-text">M is great size, fits everything I want to carry around. Feels
                        durable.
                        Goes with all my clothes. It’s pretty much exactly what I’d been looking for. The pockets make
                        it
                        even better as I can separate the things I don’t want to rummage around looking for like my keys
                        and
                        phone.</p>
                </div>
            </div>

            <div class="reviews__item hide_item">
                <div class="reviews__item-name">Мария Вячеславовна</div>

                <div class="reviews__item-content">
                    <div class="d-flex reviews__item-header">
                        <div class="reviews-stars">
                        <span class="reviews-stars__item full_item">
                            @@include("./../icons/review-star.html")
                        </span>
                            <span class="reviews-stars__item">
                            @@include("./../icons/review-star.html")
                        </span>
                            <span class="reviews-stars__item">
                            @@include("./../icons/review-star.html")
                        </span>
                            <span class="reviews-stars__item">
                            @@include("./../icons/review-star.html")
                        </span>
                            <span class="reviews-stars__item">
                            @@include("./../icons/review-star.html")
                        </span>
                        </div>

                        <time class="reviews__item-date">Oct 28, 2021</time>
                    </div>

                    <h3 class="reviews__item-title">Пришло сбраком</h3>
                    <p class="reviews__item-text">M is great size, fits everything I want to carry around. Feels
                        durable.
                        Goes with all my clothes. It’s pretty much exactly what I’d been looking for. The pockets make
                        it
                        even better as I can separate the things I don’t want to rummage around looking for like my keys
                        and
                        phone.</p>
                </div>
            </div>

            <div class="reviews__item hide_item">
                <div class="reviews__item-name">Мария Вячеславовна</div>

                <div class="reviews__item-content">
                    <div class="d-flex reviews__item-header">
                        <div class="reviews-stars">
                        <span class="reviews-stars__item full_item">
                            @@include("./../icons/review-star.html")
                        </span>
                            <span class="reviews-stars__item">
                            @@include("./../icons/review-star.html")
                        </span>
                            <span class="reviews-stars__item">
                            @@include("./../icons/review-star.html")
                        </span>
                            <span class="reviews-stars__item">
                            @@include("./../icons/review-star.html")
                        </span>
                            <span class="reviews-stars__item">
                            @@include("./../icons/review-star.html")
                        </span>
                        </div>

                        <time class="reviews__item-date">Oct 28, 2021</time>
                    </div>

                    <h3 class="reviews__item-title">Пришло сбраком</h3>
                    <p class="reviews__item-text">M is great size, fits everything I want to carry around. Feels
                        durable.
                        Goes with all my clothes. It’s pretty much exactly what I’d been looking for. The pockets make
                        it
                        even better as I can separate the things I don’t want to rummage around looking for like my keys
                        and
                        phone.</p>
                </div>
            </div>

            <a href="#" class="reviews__more" title="смотреть еще">смотреть еще</a>
        </div>
    </div>
</div>
